.galleryItem {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-bottom: 1em;
  border-radius: 8px;
  &:hover {
    .descContainer {
      opacity: 1;
    }
    .descContainer h5 {
      top: 0px;
      opacity: 1;
    }
  }
}

.galleryItem img,
.galleryItem video {
  width: 100%;
  height: 100%;
  position: relative !important;
  display: block;
  transition: all 0.25s ease-in-out;
  transform: scale(1);
}

.galleryItem:hover img,
.galleryItem:hover video {
  transform: scale(1.07);
}

.descContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: #55dd26d9;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.descContainer h5 {
  position: relative;
  top: 0px;
  opacity: 0;
  margin: 0;
  color: #083913;
  font-weight: 600;
  font-size: 1.75rem;
  transition: all 0.25s ease-in-out;
}

.categoriesContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 4px;
}

.categoriesContainer p {
  font-size: 1.2rem;
  color: #083913;
}
