.imageContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.imageContainer img,
.imageContainer video {
  max-height: 90vh;
  width: 100%;
  object-fit: contain;
}

.imageDescription {
  margin-top: 15px;
  color: rgba(255, 255, 255, 0.85);
  font-size: 20px;
}
